body{
    background-color: darkgrey;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 10px;
    font-family: "Roboto", sans-serif;
}
a{
    text-decoration: none;
    color: #fff;
}
section{
    padding: 100px 0;
    background-color: #fff;
}
.heading{
    text-transform: uppercase;
    font-size: 40.5px;
    letter-spacing: 3px;
    margin-right: -3px;
    margin-bottom: 50px;
    text-align: center;
    color: #333;
    position: relative;
}
.heading::after{
    content: "";
    width: 100px;
    height: .8rem;
    background-color: #45e19f;
    position: absolute;
    bottom: -20px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 20px;
}

.card{
    width: 32rem;
    background-color: #ebeef8;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 2rem 0;
    box-shadow: .5rem .5rem 3rem rgba(0, 0, 0, 2)
}
.card .card-img{
    width: 100%;
    height: 260px;
    object-fit: cover;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 78%, 0% 100%); 
    clip-path: polygon(0 0, 100% 0, 100% 78%, 0% 100%);
}
.kep{
    width: 250px;
    height: 250px;
    object-fit: cover;
    border-radius: 10%;
    margin-top: -110px;
    z-index: 999;
    border: 2px solid #ebeef8;
}
.card h1{
    font-size: 25px;
    color: #333;
    margin: 1.5rem;
}
.about{
    font-size: 15px;
    margin: 15px 0;
    font-style: italic;
    text-align: center;
    color: #333;
}
.card .btn{
    padding: 10px 21px;
    background-color: #445ae3;
    border-radius: 20px;
    margin: 10px 0;
    text-transform: uppercase;
    color: #eee;
    font-size: 15px;
    transition: all .5s;
}
.card .btn:hover{
    transform: translateY(0);
    box-shadow: none;
}
.media{
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    padding: 20px 0;
    margin-top: 15px;
    border-top: 1px solid rgba(0, 0, 0, 1);
}



.column {
    float: center;
    width: 33%;
    padding: 0 10px;
  }
  
 
.row {
    margin: 0 -5px;
    
}
  

.row:after {
    content: "";
    display: table;
    clear: both;
  }
  
/* Responsive columns */
  @media screen and (max-width: 600px) {
    .column {
      width: 100%;
      display: block;
      margin-bottom: 20px;
    }
  }
footer{
    padding: 3%;
    color:  #333;
    text-align: center;   
}